<!DOCTYPE html>
<html>
<% include par/head%>
<div id="nav"></div>
<script src="js/nav.js"></script>

<body>

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-12" >
tit
<%= title %>
</div>
</div><!-- row-->
<br>

<div class="row">
<div class="col-md-6 bg-ali" >
<div id="app" ></div>
<script src="js/main.js"></script>
</div><!-- col6-->

<div class="col-md-6 bg-warning" >
<div id="act"></div>
<script src="js/act.js"></script>

</div><!-- /col12-->

</div><!-- /row-->


</div><!-- /container-fluid-->

<% include par/foot %>
</body>
</html>

