<!DOCTYPE html>
<html>
<% include par/head%>
<% include par/nav%>
<body>

<!-- menu -->

<div class="container-fluid">
<div class="row">

<div class="col-sm-12" >
tite
<<<<<<< HEAD
<%= title %>
=======
<%= title %><br><br>
>>>>>>> cf8785ce32fd608972b7cddd47d1b16f60c6cd7f
<button type="button" class="btn btn-info"> start </button>

<script src="js/but.js"></script>

<div id="but" style="background:#98bf21;height:100px;width:100px;position:absolute;"></div><br>

</div>
</div>
<br>

<div class="row">
<div class="col-md-6 bg-info" >
<div id="fad"></div>
<script src="js/fad.js"></script>
</div>

<div class="col-md-6 bg-warning" >
<<<<<<< HEAD
<div id="box"></div>
<script src="js/box.js"></script>
=======
<div id="flip"></div>
<script src="js/flip.js"></script>
>>>>>>> cf8785ce32fd608972b7cddd47d1b16f60c6cd7f


</div><!-- /col12-->

</div><!-- /row-->


</div><!-- /container-fluid-->

<% include par/foot %>
</body>
</html>

