<head>
<!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script> -->
<!-- <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> -->    
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>

<!-- <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script> -->

<link href="css/boot.css" rel="stylesheet">

<title>react-pose</title>
</head>
